
    .carousel-container {
      position: relative;
      width: 100%;
      overflow: hidden;
    }
    .carousel {
      display: flex;
      width: calc(100% * ${images.length * 2}); /* Twice the width of the container */
      animation: scroll 40s linear infinite;
    }
    @keyframes scroll {
      0% {
        transform: translateX(0);
      }
      100% {
        transform: translateX(-50%);
      }
    }
                              